Heart_Failure_Prediction.json
[{"id":"714db21b.3f0eb4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ad207357.b958a8","type":"ui_form","z":"714db21b.3f0eb4","name":"","label":"","group":"94bfd3e9.184128","order":1,"width":0,"height":0,"options":[{"label":"AVGHEARTBEATSPERMIN","value":"ab","type":"number","required":true,"rows":null},{"label":"PALPITATIONSPERDAY","value":"ppd","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"c","type":"number","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"AGE","value":"a","type":"number","required":true,"rows":null},{"label":"SEX","value":"s","type":"text","required":true,"rows":null},{"label":"FAMILYHISTORY","value":"fh","type":"text","required":true,"rows":null},{"label":"SMOKERLAST5YRS","value":"s5","type":"text","required":true,"rows":null},{"label":"EXERCISEMINPERWEEK","value":"epw","type":"number","required":true,"rows":null}],"formValue":{"ab":"","ppd":"","c":"","BMI":"","a":"","s":"","fh":"","s5":"","epw":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":120,"wires":[["bb42a1da.3cb4d8","40f08b23.c2ee24"]]},{"id":"bb42a1da.3cb4d8","type":"debug","z":"714db21b.3f0eb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":320,"y":220,"wires":[]},{"id":"40f08b23.c2ee24","type":"function","z":"714db21b.3f0eb4","name":"Pre-token","func":"global.set(\"ab\",msg.payload.ab)\nglobal.set(\"ppd\",msg.payload.ppd)\nglobal.set(\"c\",msg.payload.c)\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"a\",msg.payload.a)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"fh\",msg.payload.fh)\nglobal.set(\"s5\",msg.payload.s5)\nglobal.set(\"epw\",msg.payload.epw)\nvar apikey=\"VoDzzO9zxWDt2RlATYPa9MsIr3j8ly2k97OzY9eUKl1f\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":100,"wires":[["62c8614e.f2e3b8"]]},{"id":"62c8614e.f2e3b8","type":"http request","z":"714db21b.3f0eb4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":180,"wires":[["66359a7b.fc8b24","4da63857.feefa8"]]},{"id":"66359a7b.fc8b24","type":"function","z":"714db21b.3f0eb4","name":"Pre-Prediction","func":"var ab = global.get(\"ab\")\nvar ppd = global.get(\"ppd\")\nvar c = global.get(\"c\")\nvar BMI = global.get(\"BMI\")\nvar a = global.get(\"a\")\nvar s = global.get(\"s\")\nvar fh = global.get(\"fh\")\nvar s5 = global.get(\"s5\")\nvar epw = global.get(\"epw\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"AVGHEARTBEATSPERMIN\" , \"PALPITATIONSPERDAY\", \"CHOLESTEROL\", \"BMI\", \"AGE\", \"SEX\", \"FAMILYHISTORY\", \"SMOKERLAST5YRS\", \"EXERCISEMINPERWEEK\"]],\"values\": [[ab,ppd,c,BMI,a,s,fh,s5,epw]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":100,"wires":[["bddc470e.22bb88"]]},{"id":"4da63857.feefa8","type":"debug","z":"714db21b.3f0eb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":260,"wires":[]},{"id":"bddc470e.22bb88","type":"http request","z":"714db21b.3f0eb4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/5d6feb96-9642-43b6-96aa-b0606146ebdd/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":700,"y":180,"wires":[["f7d11331.8347a","bd94b287.b70308"]]},{"id":"f7d11331.8347a","type":"debug","z":"714db21b.3f0eb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":725,"y":280,"wires":[],"l":false},{"id":"bd94b287.b70308","type":"function","z":"714db21b.3f0eb4","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":60,"wires":[["ed6acaad.0d1a68","b62f9dcb.9f56e8"]]},{"id":"ed6acaad.0d1a68","type":"debug","z":"714db21b.3f0eb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":20,"wires":[]},{"id":"b62f9dcb.9f56e8","type":"ui_text","z":"714db21b.3f0eb4","group":"94bfd3e9.184128","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":200,"wires":[]},{"id":"94bfd3e9.184128","type":"ui_group","z":"","name":"Enter the data for prediction","tab":"2f21163a.3211aa","order":1,"disp":true,"width":"6","collapse":false},{"id":"2f21163a.3211aa","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]